<head>
  <%- include("head.ejs") %>
</head>
<body>
  <header>
    <%- include("navigation.ejs") %>
  </header>
  
  <div style="text-align: center;">
    <h5>W menu dostępne są zadania które zrobiłem/robię.</h5>
    <a href="https://github.com/kamilko250/Nauka_Node.js" target="_blank">Link do Github<a><br>
    <a href="https://stackoverflow.com/users/12071283/fresh2054" target="_blank">Link do StackOverflow</a>
  </div>
  </body>