<head>
  <%- include("head.ejs") %> 
</head>
<body>
  <header>
    <%- include("navigation.ejs") %>
  </header>
    <div style="text-align: center;">
        <form action="/zad4b" method="post" enctype="multipart/form-data">
            <label for="lname">Ile liczb wygenerować</label><br>
            <input type="number" name="quantity" value="<%- quantity %>"><br><br>
            <input type="submit" value="Dalej"><br>
        </form> 
    </div>
</body>