<head>
    <%- include("head.ejs") %>
</head>
<body>
  <header>
    <%- include("navigation.ejs") %>
  </header>

    <div style="text-align: center;">
        <form method="post" enctype="multipart/form-data" action="/zad4final">
            <label> Gdzie podać wyniki </label><br/>
            <input type="checkbox" name="site" <%= locals.site ? "checked" : ""%> /> <label>Na stronie</label> <br/>
            <input type="checkbox" name="file" <%= locals.file ? "checked" : ""%> /> <label>W pliku</label> <br/>
            <input type="submit" value="Wynik"><br/>
        </form>
    </div>
</body>