<head>
    <%- include("head.ejs") %>
</head>
  <body>
    <header>
      <%- include("navigation.ejs") %>
    </header>
        <div style="text-align: center; margin: 5;">
            <p>Zakres liczb</p>
            <form action="/zad4a" method="post" enctype="multipart/form-data">
              <label for="fname"> Min </label><br/>
              <input type="number" name="min" value="<%- min %>"><br/>
              <label for="lname"> Max </label><br/>
              <input type="number" name="max" value="<%- max %>"><br/><br/>
              <input type="submit" value="Dalej"/>
            </form> 
    </div>
</body>
