<head>
    <%- include("head.ejs") %>
</head>
<body>
    <header>
        <%- include("navigation.ejs") %>
    </header>
    <div style="text-align: center;">
        <% if(locals.file) {%>
            <a href="/downloadz4" download="results"> Plik z wynikiem </a> <br/>
        <% } %>
        <% if(locals.site) { %>
            <h3> Wyniki </h3><br/>
            <ul>
                <% results.forEach(result => { %>
                    <li><%- result %></li>
                <% }) %>
            </ul>
        <% } %>
    </div>
</body>
