<head>
  <%- include("head.ejs") %>   
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <%- include("navigation.ejs") %>
  </header>
  
  <div style="width: auto; height: auto; text-align: center;" >
    
    <div style="display: inline-block; background-color: grey; padding: 10px;">
      <form id="leftform">
        <label>Losowa liczba między min a max</label>
        <div>
          <label > Min </label><br/>
          <input type="number" name="leftmin" id="leftmin" placeholder="0"><br/>
        </div>
        <div>
          <label >Max</label><br/>
          <input type="number" name="leftmax" id="leftmax" placeholder="0"><br/><br/>
        </div>
        <input type="submit" id="button" value="Wyślij"/>
      </form>
      <div id="leftpostResultDiv">Wynik</div>   
    </div>
    
    <div style="display: inline-block; background-color: lightslategrey; padding: 10px;">
      <form id="rightform">
        <label>Losowa liczba między min a max</label>
        <div>
          <label > Min </label><br/>
          <input type="number" name="rightmin" id="rightmin" placeholder="0"><br/>
        </div>
        <div>
          <label >Max</label><br/>
          <input type="number" name="rightmax" id="rightmax" placeholder="0"><br/><br/>
        </div>
        <input type="submit" id="button" value="Wyślij"/>
      </form>
      <div id="rightpostResultDiv">Wynik</div>
    </div>
    <script src="scripts/script_zad5.js"></script>
  </div>
</body>