<head>
    <%- include("head.ejs") %>
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script>
</head>  
<body>
    <header>
    <%- include("navigation.ejs") %>
    </header> 
    <div style="text-align: center;">
        <input type="button"  id="button_on" value="Zarejestruj"></input>
        <input type="button"  id="button_off" value="Wyrejestruj"></input>
    </div>
    <div style="text-align: center;" id="status"></div>
    <div style="text-align: center;" id="display"></div>
    <script src="scripts/script_zad6.js"></script>
</body>
    