<head>
    <%- include("head.ejs") %>
</head>
<body>
    <header>
    <%- include("navigation.ejs") %>
    </header>
    <form action="/zad9/editconfirm" id="edit" method="POST">
        <label> Word <%- word %> to edit </label><br/>
        <label> New word: </label>
        <input type="hidden" name="word_old" value="<%=word%>">
        <input type="text" name="word_edit"></input>
        <input type="submit" value="Confirm"></input>
    </form>
</body>